
* {
    box-sizing: border-box;
}

html {
    background-color: #ECECEB;
}

body {
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    color: #01213B;
    margin:0;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 35px;
    color: #01213B;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: #01213B;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    color: #01213B;
    font-weight: bold;
}

#p2, #p3 {
    display: none;
}

nav {
    float: left;
    background-color: #01213B;
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
}

nav a {
    color: white;
    font-size: 1.8em;
    font-weight: 300;
}

nav ul {
    display: block;
    margin-top: 3em;
    padding: 0;
}

nav li {
    list-style: none;
    margin: 0 auto 0.75em auto;
}

.menu-toggle {
    position: absolute;
    padding: 0.8 em;
    top: 1em;
    right: 1em;
    cursor: pointer;
}

.icon, .displayName {
    display: none;
}

a {
    text-decoration: none;
    color: #FD6F7A;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

a:hover {
    color: red;
    cursor: pointer;
}

main {
    min-height: 100vh;
    width: 100%;
    float: right;
    position: relative;
    padding-bottom: 2.5em;
}

.bio {
    text-align: left;
    position: absolute;
    top:30%;
    margin: 0 1em 0 1em;
}

.bio p {
    margin: 0;
    color: #01213B;
    font-weight: bold;
    font-size: 25px;
}

.bioTitle {
    margin-bottom: 5em;
}

.bioTitle p {
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
}

.bioText {
    width: 100%;
}

.selfPic {
    height: auto;
    width: 200px;
}

.projects h2 {
    margin-bottom: 0.8em;
}

.projects {
    margin-bottom: 15em;
}

.projects a {
    font-size: 1.3em;
}

.appDescription {
    text-align: left;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
}

.technologyUsed {
    text-align: center;
}

.project3, .project2 {
    margin-bottom: 7em;
}

footer {
    font-size: 0.7em;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5em;
}

.portfolioPic {
    max-width:70%;
    height: auto;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin: 15em 0 0 0;
}

.contactText {
    text-align: left;
    margin: auto 2em auto 0;
}

.flexContainer li {
    list-style: none;
}

.flexContainer img {
    width: 5em;
    height: 5em;
}

@media only screen and (max-width: 925px) {

    .headerText {
        margin-top: 4em;
        margin-right: 1em;
    }

    h2 {
        font-size: 2.6em;
    }

    .selfPic {
        width: 150px;
    }

    .technologyUsed {
        text-align: left;
    }

    .rightLinks {
        font-size: 0.7em;
    }

    .flexContainer {
        padding: 0 1em 0 1em;
    }

    .flexContainer img {
        width: 4em;
        height: 4em;
    }
}

@media only screen and (max-width: 850px) {
    body {
        display: block;
    }
    
    nav {
        height: 3em;
        width: 100%;
        display: inline-block;
    }

    .selfPic {
        display: none;
    }

    .displayName {
        font-size: 1.2em;
        color: white;
        width: auto;
        height: 100%;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        float: left;
        display: inherit;
        margin: 10px 0 0 10px;
    }

    nav a {
        color: white;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        margin: 10px 10px 0 0;
        float: right;
    }

    .rightLinks {
        font-size: 0.7em;
        margin: 0 0 0 15px;
    }

    .portfolioPic {
        max-width: 70%;
    }
}

@media only screen and (max-width: 750px) {
    .displayName {
        font-size: 1em;
        margin-top: 12px;
    }

    .rightLinks {
        font-size: 0.6em;
    }
    
    .bio p {
        font-size: 1.4em;
    }

    .headerText {
        margin-top: 4em;
    }

    h2 {
        font-size: 2.1em;
    }

    .appDescription {
        font-size: 0.9em;
    }

    .projects a {
        font-size: 1em;
    }

    .contactText {
        margin-right: 7px;
    }
}

@media only screen and (max-width: 650px) {
    .icon {
        float: right;
        display: block;
    }

    nav li {
        display: none;
    }

    nav ul {
        clear: both;
        display: block;
    }

    ul.hamburger li{
        display: block;
    }

    ul.hamburger {
        padding: 0;
        position: absolute;
        top: 45px;
        right: 0.5px;
        background-color: #01213B;
        margin: 0;
        z-index: 2;
    }

    ul.hamburger li.rightLinks {
        margin: 0 2em 2em 2em;
        font-size: 0.5em;
    }

    nav.hamburger {
        height: 3em;
    }

    .menu-toggle {
        position: absolute;
        top: 0.4em;
        right: 1em;
    }

    .bio p {
        font-size: 1.2em;
    }

    .headerText {
        margin-top: 4em;
        margin-left: 2em;
    }

    .selfPic {
        width: 225px;
    }

    h2 {
        font-size: 2em;
    }

    .appDescription {
        font-size: 0.8em;
    }

    .projects a {
        font-size: 0.9em;
    }

    .flexContainer img {
        width: 3em;
        height: 3em;
    }
}

@media only screen and (max-width: 498px) {
    .selfPic {
        width: 190px;
    }

    .headerText {
        margin-top: 1em;
        margin-left: 2em;
    }

    h2 {
        font-size: 1.9em;
    }

    .portfolioPic {
        max-width: 75%;
    }

    .appDescription {
        font-size: 0.65em;
    }

    .projects a {
        font-size: 0.7em;
    }

    footer {
        font-size: 0.7em;
    }

    footer img {
        width: 4em;
        height: 4em;
    }

    nav li {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 450px) {
    footer img {
        width: 4em;
        height: 4em;
    }
}

@media only screen and (max-width: 420px) {
    .selfPic {
        width: 150px;
        padding-top: 2em;
    }

    header {
        padding-top: 4em;
    }

    .headerText {
        margin-left: 2em;
        margin-top: 2em;
    }

    header h1 {
        font-size: 2.2em;
    }

    header p {
        font-size: 1.2em;
    }

    .bio p {
        font-size: 1em;
    }

    nav p {
        font-size: 0.9em;
        margin-top: 1.2em;
    }

    nav li {
        font-size: 0.7em;
    }

    h2 {
        font-size: 1.7em;
    }

    h3 {
        font-size: 1.4em;
    }

    footer {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 320px) {
    .selfPic {
        width: 125px;
        padding-top: 3em;
    }

    header {
        padding-top: 3em;
    }

    .headerText {
        margin-left: 2em;
        margin-top: 1em;
    }

    header h1 {
        font-size: 1.8em;
    }

    header p {
        font-size: 1em;
    }

    .bio p {
        font-size: 0.9em;
    }

    nav p {
        font-size: 0.75em;
        margin-top: 1.5em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.3em;
    }

    .appDescription {
        font-size: 0.5em;
    }

    .projects a {
        font-size: 0.6em;
    }

    footer {
        font-size: 0.6em;
    }

    footer img {
        width: 3.5em;
        height: 3.5em;
    }
}