
* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

h1 {
    font-family: 'Rubik', sans-serif; 
    font-size: 48px;
}

h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
}

h3 {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    color: #0047b3;
    ;
}

p {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    color: black;
    font-weight: bold;
}

nav {
    background-color: black;
    height:60px;
    color: #666666;
    position: fixed;
    top:0;
    left:0;
    right:0;
    width: 100%;
}

nav p {
    float: left;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 50px;
    color: white;
}

nav a {
    color: white;
}

nav li {
    list-style: none;
    display: inline-block;
}

.rightLinks {
    float: right;
    margin-right: 50px;
    margin-left: 15px;
}

.leftLinks {
   float: left;
   margin-left: 15px;
}

ul img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.menu-toggle {
    position: absolute;
    padding: 0.8 em;
    top: 1.5em;
    right: 1em;
    cursor: pointer;
}

.icon {
    display: none;
}

a {
    text-decoration: none;
    color: #666666;
    font-family: 'Rubik', sans-serif; 
    font-weight: bold;
}

a:hover {
    color: red;
}


header {
    padding: 50px;
    margin-right: 800px;
    margin-top: 100px;
    margin-bottom: 200px;
}

header p {
    margin-top:10 px;
    font-size: 20px;
    color: #0047b3;
    font-weight: bold;
}
.bio {
    text-align: center;
    height: 500px;
}

.bio p {
    margin: 0;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.projects h2 {
    margin-bottom: 100px;
}


.contact {
    margin-top: 100px;
    margin-bottom: 200px;
}

footer {
    font-size: 14px;
    font-family: 'Karla', sans-serif;
}

.portfolioPic {
    max-width:90%;
    height: auto;
}


@media only screen and (max-width: 850px) {

    header {
        width: 100%;
        height: 300px;
        margin-bottom: 100px;
    }

    h1 {
        font-size: 36px;
    }

    .bio p {
        font-size: 14px;
    }

    .bio {
        height: 300px;
    }

    h2 {
        font-size: 24px;
    }

    .projects h2, .bio h2 {
        margin-bottom: 50px;
    }

    h3 {
        font-size: 18px;
    }

    .projects p, .contact p {
        font-size: 14px;
    }
    
    footer {
        font-size: 10px;
    }

    nav p, li {
        font-size: 10px;
    }

    .icon {
        float: right;
        display: block;
    }

    nav li {
        display: none;
    }




}

@media only screen and (min-width: 851px) and (max-width: 1296px) {

    nav p, li {
        font-size: 12px;
    }

    header {
        width: 100%;
        height: 300px;
        margin-bottom: 100px;
    }

    h1 {
        font-size: 36px;
    }

    .bio p {
        font-size: 18px;
    }

    .bio {
        height: 300px;
    }

    h2 {
        font-size: 24px;
    }

    .projects h2, .bio h2 {
        margin-bottom: 50px;
    }

    h3 {
        font-size: 18px;
    }

    .projects p, .contact p {
        font-size: 14px;
    }
    
    footer {
        font-size: 12px;
    }

}